.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.added-product-details{
    background-color: lightseagreen;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
}

.order-summery{
    background-color: lightsteelblue;
    padding: 10px 5px;
    margin-top: 5px;
}
.info{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 2px;
}
.info h2{
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    border: 1px solid white;
}