/* Account Page */

.account-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .profile-section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .profile-info p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
  .current-orders-section,
  .previous-orders-section {
    margin-bottom: 50px;
  }
  
  .orders-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-card {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .order-card p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
  .order-card ul {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
  }
  
  .order-card li {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
  @media (max-width: 767px) {
    .orders-list {
      flex-direction: column;
    }
  
    .order-card {
      flex: 1 1 auto;
    }
  }
  